brotli==1.1.0
ConfigParser==7.0.0
cryptography==43.0.0
Cython==3.0.10
dl==0.1.0
docutils==0.21.2
filelock==3.15.4
HTMLParser==0.0.2
importlib_metadata==8.0.0
keyring==25.2.1
lockfile==0.12.2
lxml==5.2.2
numpy==2.0.1
ordereddict==1.1
protobuf==5.27.3
pyOpenSSL==24.2.1
pywin32==306
thread==2.0.5
tokenizers==0.19.1
toml==0.10.2
torch==2.3.1
tornado==6.4.1
transformers==4.42.3
xmlrpclib==1.0.1
zipp==3.19.2
